{
  "ecmaFeatures": {
      "jsx": true,
  },
  "env": {
      "node": true,
      "es6": true,
      "browser": true,
      "jquery": true,
      "jasmine": true,
  },
  "globals": {
      "React": true
  },
  "plugins": [
      "react"
  ],
  "rules": {
      "indent": [2, 2, {"SwitchCase": 1}],
      "quotes": [2, "single"],
      "linebreak-style": [2, "unix"],
      "semi": [2, "always"],
      "no-console": [0],
      "max-len": [0],
      "comma-dangle": [2, "always-multiline"],
      "no-unused-vars": [2, {"vars": "all", "args": "none"}],

      // For babel-root-import exception
      "import/no-unresolved": [2, { ignore: ['\~*'] }]
  },

  "extends": "eslint-config-airbnb"
}
