/* ***************************************************************************
Reset
*****************************************************************************/
[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: none;
}

/* ***************************************************************************
Common
*****************************************************************************/

:root {
  /* Color */
  --color_lightSlateGray: rgb(54, 63, 69);
  --color_darkSlateGray: rgb(44, 48, 52);
  --color_darkSlateGrayTransparent: rgba(44, 48, 52, 0.9);
  --color_snow: rgb(249, 249, 249);
  --color_deepskyblue: rgb(3, 169, 244);

  /* Base rules */
  --clearFix: {
    display: block; /* Not enrouaged */
  };
  --flexBox: {
    display: flex; /* Preferred */
  }
  --limiter: {
    width: 86%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  };
}

/* Force the body to be full page height */
html,
body {
  height: 100%;
}

body {
  /* background: red;  Debug Only! */
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.appBase {
  /* background: blue;  Debug Only! */
}

.footer {
  height: 20vh;
}

/* ***************************************************************************
Home
*****************************************************************************/

.homeMainSection {
  max-height: 90vh;
  overflow: hidden;
}

.homeNavBar {
  @apply --limiter;
}

.pageTitle {
  letter-spacing: 1.5px;
  cursor: pointer;
  font-size: 24px;
  margin: 0;
}

.homeVideo {
  width: 100%;
}

.showcase {
  @apply --limiter;

  min-height: 50vh;
}

/* ***************************************************************************
Auth
*****************************************************************************/

.authBase {
  background: var(--color_lightSlateGray);
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authDialogue {
  width: 80vw;
  height: 60vh;
  background: gray;
  position: relative;
}

.authDialogueBackdrop {
  width: 100%;
  height: 100%;
  display: flex;
}

:root {
  --authDialogueBackdropSingle: {
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  };
}

.authDialogueBackdropLeft {
  background: url(./images/authDialogueBgLeft.png);

  @apply --authDialogueBackdropSingle; /* background modifier must be after background */
}

.authDialogueBackdropRight {
  background: url(./images/authDialogueBgRight.jpg);

  @apply --authDialogueBackdropSingle; /* background modifier must be after background */
}

.authDialogueMask {
  height: 100%;
  width: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  margin-left: 50%; /* Show the right dialogue box */
}

.authDialogueContainer {
  width: 200%;
  height: 100%;
  position: relative;
  margin-left: -100%; /* Show the right dialogue box */
}

:root {
  --authTextboxSingle: {
    width: 50%;
    height: 100%;
    position: absolute;
  }
}

.authDialogueContainerLeft {
  @apply --authTextboxSingle;

  background: var(--color_darkSlateGray);
}

.authDialogueContainerRight {
  @apply --authTextboxSingle;

  right: 0;
  background: var(--color_snow);
}

:root {
  --authDialogueFormContainer: {
    position: relative;
    width: 55%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    & h2 {
      color: var(--color_deepskyblue);
      font-weight: 300;
      margin: 0;
    }

    & button {
      float: right;
    }
  };
}

.authDialogueFormContainerLeft {
  @apply --authDialogueFormContainer;
}

.authDialogueFormContainerRight {
  @apply --authDialogueFormContainer;
}

/* ***************************************************************************
Account
*****************************************************************************/

.accountBase a {
  text-decoration: none;
}

.accountLogo {
  line-height: 64px;
  padding-left: 24px;
  font-size: 24px;
  font-weight: 300;
}

.accountSectionContainer {
  padding: 20px;

  /* Avoid jQuery toggle jump */
  & h2 {
    margin: 0;
  }
}

.accountSectionLoadingMask {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  background: var(--color_darkSlateGrayTransparent);
}

/* https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
.accountSectionLoadingContainer {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); /* The translate value for transform is based off the size of the element, so that will center nicely. */
}

.accountSectionLoadingProgress {
  left: 50%;
  transform: translate(-50%, 0); /* The translate value for transform is based off the size of the element, so that will center nicely. */
}

.accountFormColumnSelect {
  width: 24px;
}

.accountDatePicker {
  width: 15%;
}

.accountInputId {
  width: 8%;
}

.accountSymbol {
  width: 10%;
}

.accountInputName {
  width: 10%;
}

.accountTransactionType {
  width: 10%;

  & > div {
    left: -22px;
  }
}

.accountInputPrice {
  width: 10%;
}

.accountInputQuantity {
  width: 10%;
}

.accountInputFee {
  width: 8%;
}

.accountInputLong {
  width: 30%;
}

.accountSubmit {
  float: right;
}
